/* Esto es un comentario....  */

#titulo1 {
    color: blue;
    font-family: fantasy;
}

.titulo2b {
    color: blue;
    font-family: sans-serif;
}

.titulo2g {
    color: green;
    font-family: times;
}

section p {
    color: green
}

aside p {
    color: brown;
}